<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageServlet</servlet-name>
        <servlet-class>controller.ManageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomServlet</servlet-name>
        <servlet-class>controller.RoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TurningServlet</servlet-name>
        <servlet-class>controller.TurningServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransactionServlet</servlet-name>
        <servlet-class>controller.TransactionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogServlet</servlet-name>
        <servlet-class>controller.LogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeviceLogServlet</servlet-name>
        <servlet-class>controller.DeviceLogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>controller.AddUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserActionServlet</servlet-name>
        <servlet-class>controller.AddUserActionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TimerServlet</servlet-name>
        <servlet-class>controller.TimerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AboutServlet</servlet-name>
        <servlet-class>controller.AboutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageServlet</servlet-name>
        <url-pattern>/Manage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomServlet</servlet-name>
        <url-pattern>/Room</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TurningServlet</servlet-name>
        <url-pattern>/Turning</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransactionServlet</servlet-name>
        <url-pattern>/Transaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogServlet</servlet-name>
        <url-pattern>/Log</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeviceLogServlet</servlet-name>
        <url-pattern>/DeviceLog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/AddUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserActionServlet</servlet-name>
        <url-pattern>/AddUserAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TimerServlet</servlet-name>
        <url-pattern>/TimerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AboutServlet</servlet-name>
        <url-pattern>/About</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
